
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lobster Two', cursive; */
}

html{
    font-size: 62.5%;
}
body {
    background-color: rgb(233, 233, 238);
    color:#000;
    font-size: 1.4rem;
    font-family: 'Roboto Flex', sans-serif; 
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.header {

}

.nav-top {
    padding:2rem 4rem 2rem 5rem;
    display:flex;
    align-items: center;
    gap: 15%;
}

.logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 18rem;
}

.logo-container img {
    width: 100%;
}

.logo h2 {
    font-family: lobster two;
    font-style: italic;
    color: orangered;
    font-weight: 700;
}

.search{
    position:relative;
    flex: 1;
}

.search input{
    padding: 1.5rem 2.5rem 1.5rem 1rem;
    border: 1px solid orangered;
    border-radius: 20px;
    width: 100%;
}

.search input::placeholder{
    color: orangered;
}

.search i{
    position:absolute;
    right:1rem;
    bottom:50%;
    transform: translateY(50%);
    color: orangered
}
.social-links ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.social-links ul li:first-child{
    background-color: orangered;
    
}
.social-links ul li:first-child a{
    color:#fff;
}

.social-links ul li {
    margin-right: 1.5rem;
}

.social-links ul li a {
    color: orangered;
}
.circle {
    background-color: #fff;
    border: 1px solid orangered;
    width:3.4rem;
    height:3.4rem;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-main {
    height: 5rem;
    width: 100%;
    background-color:#ff5200;
    margin-top: -0.5rem;
}
.nav-main ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    font-size: 1.5rem;
    padding: 1.7rem;
}

.nav-main ul li a{
    color:#fff;
    text-transform: uppercase;
}

.header-main{
    width:100%;
    height: 53rem;
    background-image: linear-gradient(
        rgba(143, 46, 46, 0.45), 
        #c0404073
      ),url('img/header-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header-main h1{
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    width: 70%;
    line-height: 6.5rem;
    letter-spacing: 0.1rem;

}

.btn {
padding: 1.8rem 3.5rem;
border-radius: 20rem;
background-color: #fff;
border: none;
color:#ff5200;
font-size: 1.5rem;
font-weight: bold;
margin-top: 6rem;
}
.orange-white__circle{
    display:flex;
    gap:0.8rem;
    position: absolute;
    bottom: 1rem;
}
.tiny-circle {
    width:1.2rem;
    height:1.2rem;
    background-color: #ff5200;
    border-radius: 100%;
}
.tiny-circle_white {
    background-color: #fff;
}
.about-us {
    margin-top: 5rem;
}
.about-us_heading{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width:65%;
    margin: auto;
}
.about-us h2{
    font-family: 'Lobster Two', cursive;
    font-size: 3.3rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.about-us h2 a{
    color: rgb(44, 42, 42);
}
.line {
    width:13rem;
    height: .2rem;
    background-color:#ff5200;
    margin-bottom: 3.5rem;
}
.about-us p{
color:rgb(155, 151, 151);
line-height: 3rem;
}

.about-us_content{
    margin-top: 3rem;
    padding: 5rem ;
    display:flex;
    gap:4rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.about-us-content_discription__p1{
    color:#000000;
    margin-bottom: 2rem;
    margin-top: -8rem;

    
}

.about-us_image{
    width:90rem;
    height: 40rem;
}

.about-us_image img{
    width:100%;
    height:95%;
    border-radius: 2rem;
}
.about-us_varaity{
    margin-top: 4rem;
    padding: 2rem 5rem;
}

.about-us_varaity ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us_varaity ul li{
    width: 10rem;
    height: 10rem;
    box-shadow: rgba(0,0,0,0.1)  0 0 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-us_varaity ul li a{
    color:#000;
    font-size: 3.3rem;
    background-color: #fff;
    

    

}