
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body {
    background-color: rgb(233, 233, 238);
    color:#000;
    font-size: 1.4rem;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.header {

}

.nav-top {
    padding:20px 40px 20px 50px;
    display:flex;
    align-items: center;
    gap: 15%;
}

.logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 180px;
}

.logo-container img {
    width: 100%;
}

.logo h2 {
    font-family: lobster two;
    font-style: italic;
    color: orangered;
    font-weight: 700;
}

.search{
    position:relative;
    flex: 1;
}

.search input{
    padding: 15px 25px 15px 10px;
    border: 1px solid orangered;
    border-radius: 20px;
    width: 100%;
}

.search input::placeholder{
    color: orangered;
}

.search i{
    position:absolute;
    right:10px;
    bottom:50%;
    transform: translateY(50%);
    color: orangered
}
.social-links ul{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.social-links ul li:first-child{
    background-color: orangered;
    
}
.social-links ul li:first-child a{
    color:#fff;
}

.social-links ul li {
    margin-right: 15px;
}

.social-links ul li a {
    color: orangered;
}
.circle {
    background-color: #fff;
    border: 1px solid orangered;
    width:34px;
    height:34px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}